@charset "utf-8";
/* CSS Document */

*{
	margin  : 0;
	padding : 0;
}

.clear{
	clear:both;
	width:0 !important;
	height:0 !important;
	min-height:0 !important;
	min-width:0 !important;
	overflow:hidden;
}

.container{
	width  : 980px;
	margin : 0 auto;
}

.slideshow{
	width    : 680px;
	overflow : hidden;
	margin   : 0 auto;
}

.slideshow .train{
	width    : 2900px;
	position : relative;
	-webkit-transition : left 800ms;
}

.slideshow .train > div{
	float : left;
}

.slideshow .train > div > img{
	display : block;
}

.slideshow ul.btns{
	list-style-type : none;
}

.slideshow li{
	width:10px;
	height:10px;
	background-color:#AAA;
	border-radius:50%;
	float: right;
	margin-left:5px;
	-webkit-transition : all 600ms;
}

.slideshow li:hover{
	background-color:#000;
	-webkit-transition : all 200ms;
}