div.menu-footer{
	padding:1px;
}

div.menu-footer ul{
	list-style-type: none;

}

div.menu-footer li{
	float: left;
	padding-top: 10px;
}

div.menu-footer a{
	padding:0px 10px;
	display:block;
	color:#333;
	text-decoration:none;
	font-size:12px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-transform:capitalize;
	padding-left:0px;
}



a:hover{
	background-color: #FAD07D;
	-webkit-transition : all 600ms;
}